{% extends 'core/base.html' %}
{% load static %}

{% block title %}Freelancer Reviews{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/frereview.css' %}">
{% endblock %}

{% block content %}

<div class="review-page">

    <div class="review-container">

        <h1>MANAGE CLIENT REVIEWS</h1>

        <div class="review-wrapper">

            {% for app in apps %}

            <div class="review-card">

                <div class="review-left">

                    {% if app.freelancer.freelancerprofile.profile_picture %}
                        <img src="{{ app.freelancer.freelancerprofile.profile_picture.url }}">
                    {% else %}
                        <div class="avatar">
                            {{ app.freelancer.username|first|upper }}
                        </div>
                    {% endif %}

                    <div class="info">
                        <h3>{{ app.freelancer.username }}</h3>
                        <p>{{ app.job.title }}</p>
                    </div>

                </div>

                <a href="{% url 'give_review' app.freelancer.email app.job.id %}"
                   class="review-btn">
                    Give Review
                </a>

            </div>

            {% empty %}

            <p class="empty">
                No freelancers found.
            </p>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}