.chat-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container h2 {
    background-color: #0f172a;
    padding: 25px 40px;
    border-radius: 12px;
    font-size: 3rem;
    color: #555;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    background: linear-gradient(to right, #818cf8, #f472b6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}