{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  SkillBridge | Login
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/user/login.css' %}" />
{% endblock %}

{% block guest_content %}

<div class="login-wrapper">

    <div class="login-container">

      <div class="brand">
        <h2>SkillBridge</h2>
      </div>

        <div class="login-top">
            <h1 class="gradient-title">Welcome Back</h1>
            <p>Login to continue using SkillBridge</p>
        </div>

        <form method="POST">

            {% csrf_token %}

            <div class="input-group">
                <label>Email</label>
                <input type="text"
                       name="email"
                       placeholder="Enter your email" />
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password"
                       name="password"
                       placeholder="Enter your password" />
            </div>

            <button type="submit">
                Login
            </button>

        </form>

        <div class="bottom-text">
            <p>
                Don't have an account?
                <a href="{% url 'signup' %}">
                    Signup
                </a>
            </p>
        </div>

    </div>

</div>

{% endblock %}