{% extends 'core/base.html' %}
{% load static %}

{% block title %}
SkillBridge | Create Account
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user/signup.css' %}">
{% endblock %}

{% block guest_content %}

<div class="signup-wrapper">

    <div class="signup-container">

        <div class="brand">
            <h2>SkillBridge</h2>
        </div>

        <div class="signup-top">
            <h1 class="gradient-title">Create Account</h1>
            <p>Join SkillBridge and start your journey</p>
        </div>

        <form method="POST">
            {% csrf_token %}

            <div class="role-section">

                <div class="role-options">

                    {% for i in form.role %}

                    <label class="role-card">
                        {{ i.tag }}

                        <div class="role-content">
                            {% if i.choice_label == "Freelancer" %}
                                <h2>Freelancer</h2>
                                <p>Find projects & earn money</p>
                            {% else %}
                                <h2>Client</h2>
                                <p>Hire skilled freelancers</p>
                            {% endif %}
                        </div>
                    </label>

                    {% endfor %}

                </div>

            </div>

            <div class="form-fields">

    <div class="input-group">
        <label>Name</label>
        {{ form.name }}
    </div>

    <div class="input-group">
        <label>Email</label>
        {{ form.email }}
    </div>

    <div class="input-group">
        <label>Password</label>
        {{ form.password }}
    </div>

</div>

            <button type="submit">Create Account</button>

        </form>

        <div class="bottom-text">
            <p>
                Already have an account?
                <a href="{% url 'login' %}">Login</a>
            </p>
        </div>

    </div>

</div>

{% endblock %}